.chat-item
  img(src=!{avatar}).chat-item__avatar
  .chat-item__content
    .chat-item__name !{name}
    .chat-item__text !{text}
  .chat-item__additional-info
    .chat-item__time !{time}
    .chat-item__count !{count}
